.link {
  text-decoration: none;
}
.jobCard {
  margin: 5px;
  background: rgb(35, 44, 49);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 2px 1px 2px 1px black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.img {
  border-radius: 10px;
  width: 50%;
}
.name {
  text-align: center;
  font-size: 1.2rem;
}
.category {
  color: rgba(200, 100, 200, 0.7);
  font-weight: bold;
  font-size: 1.3rem;
  padding: 3px 0;
}
.title {
  font-size: 1.2rem;
}
.btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: rgba(100, 200, 200, 1);
  font-size: 1.2rem;
  cursor: pointer;
}
